
#Human: Another explorer.
#leadHuman=true
#Salesman: An envoy from the king, buying and selling items.
#leadSalesman=true
#Brown cow: A brown docile cow.
#leadBrownCow=true
#guardTough: This warrior would pose problems for any intruder.
#leadGuardTough=true
#guardBrutal: Not many people would like to cross this warrior.
#leadGuardBrutal=true
#Black wolf: This dark shadow of the forests glares hungrily at you.
#leadBlackWolf=true
#Troll: A dark green stinking troll. Always hungry. Always deadly.
#leadTroll=true
#Brown bear: The brown bear has a distinctive hump on the shoulders, and long deadly claws on the front paws.
#leadBrownBear=true
#Black bear: The black bear looks pretty kind, but has strong, highly curved claws ready to render you to pieces.
#leadBlackBear=true
#Large rat: This is an unnaturally large version of a standard black rat.
#leadLargeRat=true
#Cave bug: Some kind of unnaturally large and deformed insect lunges at you from the dark. It has a grey carapace, with small patches of lichen growing here and there.
#leadCaveBug=true
#Mountain lion: Looking like a huge cat, it is tawny-coloured, with a small head and small, rounded, black-tipped ears.
#leadMountainLion=true
#Wild cat: A small wild cat, fierce and aggressive.
#leadWildCat=true
#Joe the Stupe: A hollow-eyed person is standing here, potentially dangerous but stupid as ever.
#leadJoeTheStupe=true
#Red dragon: The menacing huge dragon, with scales in every possible red color.
#leadRedDragon=true
#Green dragon hatchling: The green dragon hatchling is not as large as a full-grown dragon and unable to fly.
#leadGreenDragonHatchling=true
#Black dragon hatchling: The black dragon hatchling is not as large as a full-grown dragon and unable to fly.
#leadBlackDragonHatchling=true
#White dragon hatchling: The white dragon hatchling is not as large as a full-grown dragon and unable to fly.
#leadWhiteDragonHatchling=true
#Forest giant: With an almost sad look upon its face, this filthy giant might be mistaken for a harmless huge baby.
#leadForestGiant=true
#Unicorn: A bright white unicorn with a slender twisted horn.
#leadUnicorn=true
#Unicorn Foal: A small bright white unicorn foal with a budding horn.
#leadUnicornFoal=true
#Kyklops: This large drooling one-eyed giant is obviously too stupid to feel any mercy.
#leadKyklops=true
#Goblin: This small, dirty creature looks at you greedily, and would go into a frenzy if you show pain.
#leadGoblin=true
#Huge spider: Monstrously huge and fast, these spiders love to be played with.
#leadHugeSpider=true
#Lava spider: Lava spiders usually lurk in their lava pools, catching curious prey.
#leadLavaSpider=true
#Goblin leader: Always on the brink of cackling wildly, this creature is possibly insane.
#leadGoblinLeader=true
#Troll king: This troll has a scary clever look in his eyes. He surely knows what he is doing.
#leadTrollKing=true
#Spirit guard: This fierce spirit vaguely resembles a human warrior, and for some reason guards here.
#leadSpiritGuard=true
#Spirit sentry: This spirit vaguely resembles a human being, and for some reason guards here.
#leadSpiritSentry=true
#Spirit avenger: This restless spirit vaguely resembles a human being, that for some reason has chosen to guard this place.
#leadSpiritAvenger=true
#Spirit brute: This fierce spirit seems restless and upset but for some reason has chosen to guard this place.
#leadSpiritBrute=true
#Spirit templar: The spirit of a proud knight has decided to protect this place.
#leadSpiritTemplar=true
#Spirit shadow: A dark humanoid shadow looms about, its intentions unclear.
#leadSpiritShadow=true
#Jenn-Kellon tower guard: This person seems to be able to put up some resistance. These guards will help defend you if you say help.
#leadJennKellonTowerGuard=true
#Horde of the Summoned tower guard: This person seems to be able to put up some resistance. These guards will help defend you if you say help.
#leadHordeOfTheSummonedTowerGuard=true
#Mol-Rehan tower guard: This person seems to be able to put up some resistance. These guards will help defend you if you say help.
#leadMolRehanTowerGuard=true
#Isles tower guard: This person seems to be able to put up some resistance. These guards will help defend you if you say help.
#leadIslesTowerGuard=true
#Bartender: A fat and jolly bartender, eager to help people settling in.
#leadBartender=true
#Santa Claus: Santa Claus is standing here, with a jolly face behind his huge white beard.
#leadSantaClaus=true
#Evil Santa: Some sort of Santa Claus is standing here, with a fat belly, yellow eyes, and a bad breath.
#leadEvilSanta=true
#Wild boar: A large and strong boar is grunting here.
#leadWildBoar=true
#Mountain gorilla: This normally calm mountain gorilla may suddenly become a very fierce and dangerous foe if annoyed.
#leadMountainGorilla=true
#Anaconda: An over 3 meters long muscle, this grey-green snake is formidable.
#leadAnaconda=true
#Rabid hyena: Normally this doglike creature would act very cowardly, but some sickness seems to have driven it mad and overly aggressive.
#leadRabidHyena=true
#Pig: A pig is here, wallowing in the mud.
#leadPig=true
#Hen: A fine hen proudly prods around here.
#leadHen=true
#Rooster: A proud rooster struts around here.
#leadRooster=true
#Chicken: A cute chicken struts around here.
#leadChicken=true
#Dog: Occasionally this dog will bark and scratch itself behind the ears.
#leadDog=true
#Calf: This calf looks happy and free.
#leadCalf=true
#Bull: This bull looks pretty menacing.
#leadBull=true
#Bison: The bison are impressive creatures when moving in hordes.
#leadBison=true
#Horse: Horses like this one have many uses.
#leadHorse=true
#Foal: A foal skips around here merrily.
#leadFoal=true
#Easter bunny: Wow, the mystical easter bunny skips around here joyfully!
#leadEasterBunny=true
#Deer: A fallow deer is here, watching for enemies.
#leadDeer=true
#Pheasant: The pheasant slowly paces here, vigilant as always.
#leadPheasant=true
#Lava fiend: These lava creatures enter the surface through lava pools, probably in order to hunt. Or burn.
#leadLavaFiend=true
#Crocodile: This meat-eating reptile swims very well but may also perform quick rushes on land in order to catch you.
#leadCrocodile=true
#Scorpion: The monstrously large type of scorpion found in woods and caves here is fairly aggressive.
#leadScorpion=true
#Tormentor: A particularly grim person stands here, trying to sort things out.
#leadTormentor=true
#Guide: A rather stressed out person is here giving instructions on how to survive to everyone who just arrived.
#leadGuide=true
#Lady of the lake: The hazy shape of a female spirit lingers below the waves.
#leadLadyOfTheLake=true
#Cobra King: A huge menacing king cobra is guarding here, head swaying back and forth.
#leadCobraKing=true
#Child: A small child is here, exploring the world.
#leadChild=true
#Avenger of the Light: Some kind of giant lumbers here, hunting humans.
#leadAvengerOfTheLight=true
#Zombie: A very bleak human-like creature stands here, looking absent-minded.
#leadZombie=true
#Sea Serpent: Sea Serpents are said to sleep in the dark caves of the abyss for years, then head to the surface to hunt once they get hungry.
#leadSeaSerpent=true
#Huge shark: These huge sharks were apparently not just a rumour. How horrendous!
#leadHugeShark=true
#Sol Demon: This demon has been released from Sol.
#leadSolDemon=true
#Deathcrawler minion: The Deathcrawler minions usually spawn in large numbers. They have deadly poisonous bites.
#leadDeathcrawlerMinion=true
#Spawn of Uttacha: Uttacha is a vengeful demigod who lives in the depths of an ocean on Valrei. These huge larvae are hungry and confused abominations here.
#leadSpawnOfUttacha=true
#Son of Nogump: Nogump the dirty has given birth to this foul two-headed giant wielding a huge two-handed sword.
#leadSonOfNogump=true
#Drakespirit: Drakespirits are usually found in their gardens on Valrei. They are hungry and aggressive.
#leadDrakespirit=true
#Eaglespirit: The Eaglespirits live on a glacier on Valrei. They will attack if hungry or threatened.
#leadEaglespirit=true
#Epiphany of Vynora: This female creature is almost see-through, and you wonder if she is made of water or thoughts alone.
#leadEpiphanyOfVynora=true
#JuggernautOfMagranon: A ferocious beast indeed, the juggernaut can crush mountains with its horned forehead.
#leadJuggernautOfMagranon=true
#Manifestation of Fo: Something seems to have gone wrong as Fo tried to create his manifestation. The thorns are not loving at all, and it seems very aggressive.
#leadManifestationOfFo=true
#Incarnation of Libila: This terrifying female apparition has something disturbing over it. As if it's just one facet of Libila.
#leadIncarnationOfLibila=true
#Hell Horse: This fiery creature is rumoured to be the mounts of the demons of Sol.
#leadHellHorse=true
#Hell Foal: This fiery creature is rumoured to grow up to be a mount of the demons of Sol.
#leadHellFoal=true
#Hell Hound: The hell hound is said to be spies and assassins for the demons of Sol.
#leadHellHound=true
#Hell Scorpious: The pets of the demons of Sol are very playful.
#leadHellScorpious=true
#Worg: This wolf-like creature is unnaturally big and clumsy. The Worg seems finicky and nervous, which makes it unpredictable and dangerous to deal with.
#leadWorg=true
#Skeleton: This abomination has been animated by powerful magic.
#leadSkeleton=true
#Wraith: The wraith is born of darkness and shuns the daylight.
#leadWraith=true
#Seal: These creatures love to bathe in the sun and go for a swim hunting fish.
#leadSeal=true
#Tortoise: The tortoise is pretty harmless but can pinch you quite bad with its bite.
#leadTortoise=true
#Crab: Crabs are known to hide well and walk sideways.
#leadCrab=true
#Sheep: A mythical beast of legends, it stares back at you with blood filled eyes and froth around the mouth.
#leadSheep=true
#Blue whale: These gigantic creatures travel huge distances looking for food, while singing their mysterious songs.
#leadBlueWhale=true
#Seal cub: A young seal, waiting to be fed luscious fish.
#leadSealCub=true
#Dolphin: A playful dolphin. They have been known to defend sailors in distress from their natural enemy, the shark.
#leadDolphin=true
#Octopus: Larger specimen have been known to pull whole ships down into the abyss. Luckily this one is small.
#leadOctopus=true
#Lamb: A small cuddly ball of fluff.
#leadLamb=true
#Ram: A mythical beast of legends, it stares back at you with blood filled eyes and froth around the mouth.
#leadRam=true
#Black dragon: The menacing huge dragon, with scales as dark as the night.
#leadBlackDragon=true
#Blue dragon: The menacing huge dragon, with dark blue scales.
#leadBlueDragon=true
#Green dragon: The menacing huge dragon, with emerald green scales.
#leadGreenDragon=true
#White dragon: The menacing huge dragon, with snow-white scales.
#leadWhiteDragon=true
#Blue dragon hatchling: The blue dragon hatchling is not as large as a full-grown dragon and unable to fly.
#leadBlueDragonHatchling=true
#Red dragon hatchling: The red dragon hatchling is not as large as a full-grown dragon and unable to fly.
#leadRedDragonHatchling=true
#Fog Spider: Usually only encountered under foggy conditions, this creature is often considered an Omen.
#leadFogSpider=true
#Rift Beast: These vile creatures emerge from the rift in great numbers.
#leadRiftBeast=true
#Rift Jackal: The Jackals accompany the Beasts as they spew out of the rift.
#leadRiftJackal=true
#Rift Ogre: The Rift Ogres seem to bully Beasts and Jackals into following orders.
#leadRiftOgre=true
#Rift Warmaster: These plan and lead attacks from the rift.
#leadRiftWarmaster=true
#Rift Ogre Mage: Ogre Mages have mysterious powers.
#leadRiftOgreMage=true
#Rift Caster: Proficient spell casters, but they seem to avoid direct contact.
#leadRiftCaster=true
#Rift Summoner: Summoners seem to be able to call for aid from the Rift.
#leadRiftSummoner=true
#NPC Human: A relatively normal person stands here waiting for something to happen
#leadNPCHuman=true
